<!-- Sticky header available on v5 -->
<full-calendar #calendar
    [firstDay]="firstDay"
    [listDayFormat]="listDayFormat"
    [listDayAltFormat]="false"
    [defaultDate]="defaultDate"
    [defaultView]="defaultView"
    [events]="calendarEvents"
    [plugins]="calendarPlugins"
    [customButtons]="customButtons"
    [timeZone]="timezone"
    [header]="header"
    [buttonText]="buttonText"
    [selectable]="true"
    [allDaySlot]="false"
    [now]="now"
    [weekends]="weekends"
    [nowIndicator]="true"
    (select)="onDateTimeSelected($event)"
    (eventResize)="onEventTimeUpdated($event)"
    (eventDrop)="onEventTimeUpdated($event)"
    (eventRender)="onEventRender($event)"
    (eventDragStart)="onEventDragStart()"
    (datesRender)="onViewOrDatesChanged($event)"
    (viewSkeletonRender)="onViewOrDatesChanged($event)"
    (eventMouseEnter)="onEventMouseEnter($event)"
    (eventMouseLeave)="onEventMouseLeave()"
    (eventClick)="onEventClick($event)"
    (windowResize)="onWindowResize()"
    (viewSkeletonRender)="onCalendarSkeletonRender(renderedCalendarEnumReference.Rendered)"
    (viewSkeletonDestroy)="onCalendarSkeletonRender(renderedCalendarEnumReference.Destroyed)">
</full-calendar>
