<div class="pl-client-delete">
    <pl-modal-header-wrapper [headerText]="modalHeaderText">
        <div class="margin-b flexbox">
            <div>
                <div class="margin-r icon-circle"><pl-icon class="white" [svg]="'minus'" [scale]="0.6" [verticalAlign]="'-2px'"></pl-icon></div>
            </div>
            <div class="flex1">You are about to delete a <pl-client-student-display [user]="currentUser"></pl-client-student-display>.</div>
        </div>
        <div>
            <button pl-button class="success x-qa-delete-confirm-btn" (click)="delete()">Delete <pl-client-student-display [user]="currentUser" [capitalize]="true"></pl-client-student-display></button>
            <button pl-button class="x-qa-delete-cancel-btn" (click)="cancel()">Cancel</button>
        </div>
    </pl-modal-header-wrapper>
</div>