<div class="pl-client-direct-services">
    <h4 class="section-header section-header-with-help">
        <div>Direct Services</div>
        <button pl-button class="bare learn-more" (click)="displayLearnMore()">
            <span>Learn More</span>
            <pl-icon [svg]="'info'" [width]="16" [height]="16"></pl-icon>
        </button>
    </h4>
    <pl-dot-loader [hidden]="!loadingServices" [align]="'left'"></pl-dot-loader>
    <div class="services">
        <div *ngFor="let service of directServices" class="{{'service x-qa-service-'+(service.uuid ? service.uuid : service.id)}}">
            <pl-client-direct-service *ngIf="service.xType === 'directService'" [service]="service" [client]="client" [currentUser]="currentUser"></pl-client-direct-service>
            <pl-client-direct-referral *ngIf="service.xType === 'directReferral'" [referral]="service" [client]="client" [currentUser]="currentUser" (onRefresh)="onRefresh()"></pl-client-direct-referral>
        </div>
        <div *ngIf="!loadingServices && !directServices.length" class="center padding-large no-results">No Results Available</div>
    </div>
</div>