<h1 class="margin-xlarge-tb">
    User Training & Development
</h1>
<!-- [loading]="data.teletherapy.loading || data.live.loading" -->
<pl-training-graphs *ngIf="graphs$ | async as data"
    class="margin-xlarge-tb center-xs" 
    [total]="data.live?.total" 
    [inProgress]="data.teletherapy.in_progress" 
    [completed]="data.teletherapy.completed" 
    [attended]="data.live.attended">
</pl-training-graphs>
<div class="pl-table-container mat-elevation-z1">
    <mat-table [dataSource]="users$ | async"
        matSort matSortActive="last_name" matSortDirection="asc">
        <ng-container matColumnDef="last_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> 
                <strong>
                    Last Name
                </strong>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{ row.last_name }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="first_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> 
                <strong>
                    First Name
                </strong>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{ row.first_name }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="teletherapy_foundations_training_progress">
            <mat-header-cell *matHeaderCellDef> 
                <strong>
                    Therapy Foundations Training
                </strong>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <ng-container *ngIf="row.teletherapy_foundations_training_progress < 100; else completedFoundation">
                    Incomplete
                    <!--
                    <mat-progress-bar class="rounded" mode="determinate"
                        [value]="row.teletherapy_foundations_training_progress">
                    </mat-progress-bar>
                    <small class="progress-bar-label margin-lr">
                        {{ row.teletherapy_foundations_training_progress || 0 }}%
                    </small>
                    -->
                </ng-container>
                <ng-template #completedFoundation>
                    Completed
                    - {{ row.teletherapy_foundations_training_date | date: 'M/dd/yyyy' }}
                </ng-template>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="live_training_date">
            <mat-header-cell *matHeaderCellDef> 
                <strong>
                    Live Training Status
                </strong>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{ row.live_training_state | titlecase }}
                <ng-container *ngIf="row.live_training_date">
                    - {{ row.live_training_date | date: 'M/dd/yyyy' }}
                </ng-container>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loader">
            <mat-header-cell *matHeaderCellDef>
                <mat-progress-bar *ngIf="loading$ | async" 
                    color="accent" mode="indeterminate"></mat-progress-bar>
            </mat-header-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-header-row class="loader" *matHeaderRowDef="['loader']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator 
        [length]="userTotal$ | async"
        [pageSize]="plDesign.settings.paginator.size"
        [pageSizeOptions]="plDesign.components.paginator.sizeOptions" 
        (page)="plDesign.setTablePageSize($event.pageSize)"></mat-paginator>
</div>