@import '~@angular/material/theming';

$orange: #ed8000;
$orange-light: #ffeed9;
$orange-dark: #F26724;

$blue: #4d8bbe;
$blue-medium: #46b1e1;
$blue-light: #85D4F8;
$blue-lighter: #B6E6FB;
$blue-lightest: #e5f6fe;

$gray: #b6b8ba;
$gray-darkest: #4c4f52;
$gray-darker: #747678;
$gray-dark: #8f9194;
$gray-light: #d2d3d5;
$gray-lighter: #e6e6e6;
$gray-lightest: #edeeef;
$gray-really-light: #fbfbfb;

$slate: #647f94;
$slate-darkest: #2d3a45;
$slate-darker: #465460;
$slate-dark: #556879;
$slate-medium: #95aabb;
$slate-light: #d7e2ea;
$slate-lighter: #e8eef2;
$slate-lightest: #f8f9fa;

$green: #78a240;
$green-medium: #9ac61e;
$green-light: #EBF6CC;

$red: #D0021B;
$red-light: #FEE2E2;

$yellow: #f9b417;
$yellow-light: #FDEBC1;
$yellow-dark: #F0B643;

$purple: #b665a6;

$cream: #F8F3E0;

$black: #000000;
$white: #FFFFFF;


$pl-color-mapping: (
    "blue": $blue, 
    "blue-medium": $blue-medium, 
    "blue-light": $blue-light,
    "slate": $slate,
    "slate-darkest": $slate-darkest,
    "slate-darker": $slate-darker,
    "slate-dark": $slate-dark,
    "slate-medium": $slate-medium,
    "slate-light": $slate-light,
    "slate-lighter": $slate-lighter,
    "slate-lightest": $slate-lightest,
);


$PL-brand: (
    50: #FDF0E0,
    100: $orange-light,
    200: #F6C080,
    300: #F2A64D,
    400: #F09326,
    500: $orange,
    600: #EB7800,
    700: #E86D00,
    800: $orange-dark,
    900: #E05000,
    A100: #ffffff,
    A200: #FFE1D4,
    A400: #FFBDA1,
    A700: #FFAB88,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: $white,
        600: $white,
        700: $white,
        800: $white,
        900: $white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: $white,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pl-primary-palette: mat-palette($mat-blue-gray);
$pl-secondary-palette: mat-palette($mat-indigo);
$pl-accent-palette: mat-palette($PL-brand, 500);
$pl-warn-palette: mat-palette($mat-amber);

// Create the theme object (a Sass map containing all of the palettes).
$pl-light-theme: mat-light-theme((
    color: (
        primary: $pl-primary-palette,
        secondary: $pl-secondary-palette,
        accent: $pl-accent-palette,
    )
));
// $pl-light-theme: mat-light-theme($pl-primary-palette, $pl-accent-palette, $pl-warn-palette);
$pl-dark-theme: mat-dark-theme($pl-primary-palette, $pl-accent-palette, $pl-warn-palette);