<div class="pl-provider-onboarding-welcome padding-large">
    <div class="margin-b"><h3>Welcome to PresenceLearning, {{ currentUser.first_name }}!</h3></div>
    <div class="margin-b">
        <img src="assets/provider-onboarding-start.jpg" />
    </div>

    <div>
        The PresenceLearning Network connects you to amazing colleagues, supports the meaningful work you do with kids, and gives you the flexibility to work from home on your terms.
        <br /><br />
        Help us get to know you so we can find a great assignment for you as soon as possible. If you get stuck at any point, be sure to check the Onboarding Support links for useful information.
    </div>

    <div class="margin-large-t">
        <a [routerLink]="beginLink" class="link-none">
            <button pl-button class="primary">Begin Onboarding</button>
        </a>
    </div>
</div>
