<div class="pl-client-referral-decline">
    <pl-modal-header-wrapper [headerText]="'Decline Referral'">
        <div class="margin-b flexbox">
            <div>
                <div class="margin-r icon-circle"><pl-icon class="white" [svg]="'minus'" [scale]="0.6" [verticalAlign]="'-2px'"></pl-icon></div>
            </div>
            <div class="flex1">You are about to decline a referral. Please select a reason for declining the referral.</div>
        </div>
        <div class="inputs margin-xlarge-b">
            <pl-input-select class="form-input x-qa-reason" [(model)]="referral.reason" [options]="selectOptsReason" [placeholder]="'Select a Reason'"></pl-input-select>
        </div>
        <div>
            <button pl-button class="success x-qa-decline-confirm-btn" (click)="decline()">Decline Referral</button>
            <button pl-button class="x-qa-decline-cancel-btn" (click)="cancel()">Cancel</button>
        </div>
    </pl-modal-header-wrapper>
</div>