<div class="pl-provider-onboarding-done padding-large">
    <div class="margin-b"><h3>All Done!</h3></div>
    <div class="margin-b">
        <img src="assets/provider-onboarding-end.jpg" />
    </div>
    <div class="margin-b"><b>Thanks for helping us get to know you!</b></div>
    <div class="margin-b">
        While we find an assignment for you, head on over to your PL Dashboard to start your Onboarding Journey where you'll:
        <br /><br />
        1. Connect with colleagues
        <br />
        2. Set up your equipment and workstation
        <br />
        3. Learn to use the PL Platform and Therapy Room
        <br />
        4. Get a primer on all the other cool tools and resources you'll get access to
    </div>

    <div class="margin-large-t">
        <button pl-button class="primary" (click)="save()">Go To My Dashboard</button>
    </div>
</div>
